html {
   height: 100%;
}
body {
   height: 100%;
   display: flex;
   margin: 0px;
   justify-content: center;
}
.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
p {
   font-family: 'Roboto', sans-serif;
   font-size: 40px;
   font-weight: 300;
   margin: 20px;
   white-space:nowrap;
}
strong {
   font-weight: 400;
}
img {
   margin: 20px;
}
.github {
    background-color: #314963;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: fixed;
    bottom: 21px;
    right: 25px;
}
