html {
   height: 100%;
   width: 100%;
}
body {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: row;
   margin: 0px;
   color: #000000;
   background-color: #F0F0F0;
}
body#gallery {
   flex-wrap: wrap;
   font-family: 'Roboto', sans-serif;
}
header {
   width: 100%;
   height: fit-content;
   padding-left: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 36px;
   white-space: nowrap;
}
@media (min-width:500px){
   .content {
      width: 25%;
   }
}
@media (min-width:500px) and (max-width:1000px) {
   .content {
      width: 50%;
   }
}
/*
@media (min-width:1000px) and (max-width:1500px) {
   .content {
      width: 33.33%;
   }
}
*/
.gallery {
   width: 94%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.columnar {
   display: flex;
   flex-direction: column;
}
.center {
   justify-content: center;
}
p {
   font-family: 'Roboto', sans-serif;
   font-size: 40px;
   font-weight: 300;
   margin: 20px;
   white-space:nowrap;
}
strong {
   font-weight: 400;
}
img#github {
   width: 34px;
   height: 34px;
   margin-left: 10px;
}
.menu-div {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-grid;
}
.menu-div .icon-bar:nth-of-type(2) {
  top: 2px;
}
.menu-div .icon-bar:nth-of-type(3) {
  top: 4px;
}
.menu-div .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
  width: 20px;
  display: block;
  height: 2px;
  background-color: white;
}
.menu-div:hover .icon-bar:nth-of-type(1) {
  transform: translateY(6px) rotate(45deg);
}
.menu-div:hover .icon-bar:nth-of-type(2) {
  background-color: transparent;
}
.menu-div:hover .icon-bar:nth-of-type(3) {
  transform: translateY(-6px) rotate(-45deg);
}
.menu-div .menu-toggle {
  transition: all 500ms ease-in-out;
}
.menu-div:hover .menu-toggle {
  transform: rotate(180deg);
}
.menu-toggle {
  width: 50px;
  height: 50px;
  padding-left: 10px;
  border-radius: 50%;
  z-index: 100;
  background-color: lightblue;
  border: 0px;
}
.menu-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 4px;
  transition: all 750ms ease-in-out;
  transition-property: opacity, top;
  position: absolute;
  opacity: 0;
  top: -5px;
  z-index: 99;
  border: 0px;
  color: white;
  padding-top: 0px;
  padding-left: 6px;
}
.menu-div:hover .menu-item:nth-of-type(1) {
  top: 55px;
}
.menu-div:hover .menu-item:nth-of-type(2) {
  top: 100px;
}
.menu-div:hover .menu-item:nth-of-type(3) {
  top: 145px;
}
.menu-div:hover .menu-item:nth-of-type(4) {
  top: 190px;
}
.menu-div:hover .menu-item:nth-of-type(5) {
  top: 235px;
}
.menu-div:hover .menu-item {
  opacity: 1;
}
.menu-div .icon-bar {
  margin-left: 5px;
  position: relative;
}
.github {
   font-family: 'Roboto', sans-serif;
   position: fixed;
   bottom: 21px;
   right: 25px;
}
.container {
  position: relative;
}
.mySlides {
  display: none;
  text-align: center;
  background-color: #303030;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: auto;
  padding: 16px;
  margin-top: -66px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 1.0);
}
.prev {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 5%;
}
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
