html {
   height: 100%;
   width: 100%;
}
body {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: row;
   margin: 0px;
   color: #000000;
   background-color: #F0F0F0;
}
body#gallery {
   flex-wrap: wrap;
   font-family: 'Roboto', sans-serif;
}
header {
   width: 100%;
   height: fit-content;
   padding-left: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 36px;
   white-space: nowrap;
}
@media (min-width:500px){
   .content {
      width: 25%;
   }
}
@media (min-width:500px) and (max-width:1000px) {
   .content {
      width: 50%;
   }
}
/*
@media (min-width:1000px) and (max-width:1500px) {
   .content {
      width: 33.33%;
   }
}
*/
.gallery {
   width: 94%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.columnar {
   display: flex;
   flex-direction: column;
}
.center {
   justify-content: center;
}
p {
   font-family: 'Roboto', sans-serif;
   font-size: 40px;
   font-weight: 300;
   margin: 20px;
   white-space:nowrap;
}
strong {
   font-weight: 400;
}
img#github {
   width: 34px;
   height: 34px;
   margin-left: 10px;
}
.github {
   font-family: 'Roboto', sans-serif;
   /*background-color: #314963;
   height: 40px;
   width: 40px;
   border-radius: 100%;*/
   position: fixed;
   bottom: 21px;
   right: 25px;
}
